.sidebar{
    background-color:#1d1d41;
    position: relative;
    height:80vh;
    width: 2vw;
    min-width: 200px;
    color:rgb(255, 255, 255);
    padding:10px;
    box-sizing: border-box;
}

li{
    display: flex;
    align-items: center;
    padding: 15px;
    color: #a4a6b3;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

li:hover{
    background-color: #45a049;
}

a{
    text-decoration: none;
    color: inherit;
}